.navbar {
    /* background-image: url('../assets/img1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    padding: 0rem 2rem;
    color: black; */
    /* background-image: url('../assets/img1.png');
    background-size: cover;
    background-position: center bottom; /* Adjust the background position to move it further down 
    background-repeat: no-repeat; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    color: black;
    
  }
 

body{
    background-image: url('../assets/img1.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.navbar__links-container,
.navbar__links-container2 {
    border-radius: 10px;
    display: flex;
}

.navbar__links-container p, .navbar__links-container2 p{
    padding: 0rem 2rem 2rem 1rem;
    color: black;
    font-weight: 600;
}

.navbar__links-container a, .navbar__links-container2 a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 1.5rem;
}

.navbar__heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.7rem;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    letter-spacing: 1rem;
}

.navbar__links-container2{
    margin-left: auto;
}

.navbar__menu-icon {
    cursor: pointer;
    display: none;
    margin-right: 1rem;
}

.navbar__menu-container {
    display: none;
    position: absolute;
    background: white;
    border-radius: 10px;
    right: 0;
    top: 60px;
}

.navbar__menu-links {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1250px) {
    .navbar__heading{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.7rem;
        display: flex;
        
        justify-content: center;
        align-items: center;
        margin: auto;
        letter-spacing: 0.5rem;
    }

    .navbar__links-container, .navbar__links-container2 {
        display: none;
      }

  }

@media screen and (max-width: 1050px) {
    .navbar__links-container {
      display: none;
    }
  
    .navbar__menu-icon {
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .navbar {
      padding: 2rem 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .navbar {
      padding: 2rem;
    }
  
    .navbar__links-container2 {
      display: none;
    }
  }