html, body, section {
    block-size: 100%;
  }
  
.exp {
    scroll-snap-type: x mandatory;
  }
  
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  
  body {
    margin: 0;
  }